* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #00aeff;
  --secondary: #a6a6a6;
  --grey: #535961;
  --green: #1bbc9b;
  --yellow: #fcc71f;
  --font: Arial, helvetica, sans-serif;
  --font2: "Oswald", sans-serif;
  --font3: "Droid Sans";
  --font4: "Open sans", sans-serif;
  --bgcolor: #1b1b1b;
  --black: #000000;
  --white: #ffffff;
  --darkgrey: #343434;
  --gutter-width: 12px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.w-1 {
  width: 8.33%;
  padding: 0 var(--gutter-width);
}

.w-2 {
  width: 16.66%;
  padding: 0 var(--gutter-width);
}

.w-3 {
  width: 25%;
  padding: 0 var(--gutter-width);
}

.w-4 {
  width: 33.33%;
  padding: 0 var(--gutter-width);
}

.w-5 {
  width: 41.66%;
  padding: 0 var(--gutter-width);
}

.w-6 {
  width: 50%;
  padding: 0 var(--gutter-width);
}

.w-7 {
  width: 58.33%;
  padding: 0 var(--gutter-width);
}

.w-8 {
  width: 66.66%;
  padding: 0 var(--gutter-width);
}

.w-9 {
  width: 75%;
  padding: 0 var(--gutter-width);
}

.w-10 {
  width: 83.33%;
  padding: 0 var(--gutter-width);
}

.w-11 {
  width: 91.66%;
  padding: 0 var(--gutter-width);
}

.w-12 {
  width: 100%;
  padding: 0 var(--gutter-width);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 100px 0;
}
.row {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.active {
  color: var(--primary) !important;
}

.justify-content-base {
  justify-content: baseline;
}

.vh-100 {
  height: 100vh;
}

.justify-content {
  justify-content: center;
}

.px-1 {
  padding: 0 12px;
}
.py-5 {
  padding: 60px 0;
}

.p-3 {
  padding: 30px;
}

.py-3 {
  padding: 30px 0;
}
.me-2 {
  margin-right: 15px !important;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 20px;
}
.my-2 {
  margin: 10px 0;
}

body {
  background-color: #000000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
.dsc {
  margin-top: 10px;
}

.dsc h1 {
  font-family: var(--font2);
  color: var(--white);
}
.dsc p {
  font-family: var(--font);
  color: var(--white);
  padding-top: 10px;
}
.Tcard {
  margin-top: 35px;
}
.t_img1 {
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgb(105, 100, 100);
}
.teamImg {
  width: 200px;
  border-radius: 50%;
}

.content {
  padding: 20px;
  border-radius: 10px;
}
.content h2 {
  padding: 10px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content p {
  padding: 20px 0;
  font-family: var(--font3);
  color: black;
}
.content i {
  /* padding: 10px; */

  height: 40px;
  width: 40px;
  padding-top: 10px;

  border: 1px solid grey;
  margin: 3px;
}

.fa-cart-plus {
  float: right;
  font-size: 20px;
  margin-top: 10px;
}
.price {
  padding-top: 10px;
}


/*  */
/* Import Fonst */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-color: #f4f4f4;
  --card-bg-color: #fff;
  --star-gray: #e3e3dd;
  --color-1: #31c8a5;
  --color-1-dark: #248b73;
  --color-2: #f95932;
  --color-2-dark: #d74622;
  --color-3: #fda929;
  --color-3-dark: #cf8616;
  --text-color: #31363d;
  --primary-font: "Poppins", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}
img {
  max-width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background: var(--body-color);
}

/* Start Main Styles */
section#products {
  width: 75%;
  max-width: 1200px;
  padding: 75px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
section#products .card {
  max-width: 380px;
  flex: 1 0 380px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background: var(--card-bg-color);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.4);
  border-radius: 0.75rem;
  overflow: hidden;
}
section#products .card div.img {
  width: 320px;
  height: 320px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
section#products .card div.img::after {
  content: "";
  width: 40%;
  height: 10px;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  filter: blur(15px);
}
section#products .card div.img img {
  width: 80%;
  transition: all 0.5s;
}
section#products .card:hover div.img img {
  transform: scale(1.2);
}
section#products .card:nth-child(2) div.img img {
  transform: scaleX(-1) rotate(20deg);
}
section#products .card:hover:nth-child(2) div.img img {
  transform: scaleX(-1) rotate(20deg) scale(1.2);
}
section#products .card div.text {
  padding: 20px 25px;
}
section#products .card div.text h3 {
  font-size: calc(0.5rem + 1vw);
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 15px;
}
section#products .card div.text p {
  font-size: calc(0.5rem + 0.5vw);
  margin-bottom: 20px;
  opacity: 0.75;
}
section#products .card div.text h5 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--color-1);
}
section#products .card:nth-child(2) {
  order: 2;
}
section#products .card:nth-child(2) div.text h5 {
  color: var(--color-2);
}
section#products .card:nth-child(3) div.text h5 {
  color: var(--color-3);
}
section#products .card div.rating {
}
section#products .card div.rating i {
  color: var(--color-3);
}
section#products .card div.rating i:nth-child(4),
section#products .card div.rating i:nth-child(5) {
  color: var(--star-gray);
}
section#products .card:nth-child(2) div.rating i:nth-child(3) {
  color: var(--star-gray);
}
section#products .card:nth-child(3) div.rating i:nth-child(4) {
  color: var(--color-3);
}
section#products .card div.btn {
}
section#products .card div.btn button {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: var(--color-1);
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  transition: backgorund 0.4s;
}
section#products .card:nth-child(2) div.btn button {
  background: var(--color-2);
}
section#products .card:nth-child(3) div.btn button {
  background: var(--color-3);
}
section#products .card div.btn button:hover {
  background: var(--color-1-dark);
}
section#products .card:nth-child(2) div.btn button:hover {
  background: var(--color-2-dark);
}
section#products .card:nth-child(3) div.btn button:hover {
  background: var(--color-3-dark);
}
